/*PESTAÑA HOME*/
/* Modificando las secciones y su contenido*/
.principal-section {
    @include home-sections;
    border: $border;
    .principal-section-text {
        @include carousel-container;
        border: $border;
        h2 {
            @include principal-carousel-title;
        }
    }
    .principal-section-image {
        @include section-image-container;
        border: $border;
        img {
            z-index: -1;
        }
    }
}