/*PESTAÑA SPONSORS*/

/*Modificando el banner*/
.banner {
    @include sizes(100%, 700px);
    @include flex-personalizated(space-around, center,row);
    background-color: #333333;
    margin-top: 140px;
    @include gradient-sponsors;
}

.banner-img{
    max-width: 50%;
    z-index: 10;
    img{
        max-width: 170%;
        z-index: 10;
    }
}

.banner-title {
    max-width: 50%;
    h1 {
        font-family: $monserrat;
        font-size: 90px;
        color: #fff;
        font-weight: 900;
        text-align: end;
        margin-right: 50px;
        color: beige;
    }
}


/*Modificando el carousel y sus imagenes*/
.sponsor-img {
    width: 370px;
    transition: transform .4s;
&:hover{
    transform: scale(1.05);
}
}
.sponsor-carousel{
    height: 600px;
    background-color: #333333;
&.active {
    @include flex-center;
}
}

.carousel-items-container {
    @include sizes(100%,100%);
    @include flex-around;
}

.carousel-indicators [data-bs-target] {
    @include sizes(20px,20px);
    border-radius: 100%;
    margin: 7px;
    opacity: .08;
}

.carousel-indicators .active {
    opacity: 1;
}
